@charset "UTF8";

body {
    background-color: #6bc;
    padding-top: 40px;
}

hr {
    border: 0;
    border-bottom: 1px dashed #278;
}

div#container {
    margin: auto;
    padding: 15px;
    width: 30%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}

div#inner-container {
    margin: 0;
    width: auto;
    height: auto;
    padding: 5px 30px 30px 30px;
    text-align: center;
    
}

div#options-container {
    text-align: left;
    margin: 5% auto;
}

div#c-container{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgba(100,100,100,0.7);
}

div#c-container a{
    color: rgba(100,100,100,0.7);
}

div#warning-container{
    text-align: center;
    font-weight: bold;
    font-weight: normal;
    color: red;
}

div#log-container{
    padding: 10px 0;
    overflow-y: auto;
}

div#link-container{
    padding: 10px 0 0 0;
    color: rgba(0,0,0,0.7);
    font-weight: normal;
}

div#link-container a{
    color: rgba(0,0,0,0.7);
}

div#link-container a:hover{
    color: rgba(0,0,0,0.6);
}

div#progbar-container{
    padding: 0 0 10px 0;
    text-align: center;
}

div#progbar-container table{
    width: 100%;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 50%;
	position: relative;
	margin: 10% auto;
    padding: 10px;
	padding: 1px 20px 20px 20px;
	border-radius: 10px;
	background: #7cd;
    box-shadow: 0 0 5px black;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}

#closeModal {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -14px;
	top: -12px;
	width: 24px;
    text-align: center;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

#closeModal:hover { background: #ccc; }

.progressBar {
	width: 100%;
	height: 22px;
	border: 1px solid #111;
	background-color: #292929;
}

.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	width: 0;
	background-color: #0099ff;
}
